<div class="self-center mt-4 mb-4 ml-6">
  <div class="mt-1 mb-1 text-base font-semibold">
    Product Review Notifications for <%=current_user&.name || current_user.email %>
  </div>
  <div class="overflow-hidden">
    <table class="hidden border border-collapse divide-y md:table md:table-auto md:min-w-3/4 border-stone-400 divide-stone-300 bg-indigo-50">
      <thead class="bg-indigo-100">
        <tr class="text-sm font-semibold text-center">
          <!-- Header Row -->
          <%# Note:  Need to provide ransack with the full association path to get sort_link to work from review_notification %>
          <th class="px-2 py-1">Index</th>
          <th colspan=2 class="px-2 py-1 text-blue-600"><%= sort_link(query, "review_user_name", "User") %></th>
          <th class="px-2 py-1 text-blue-600">
            <%= sort_link(query, "review_product_title", "Product") %> 
          </th>
          <th class="px-2 py-1">Review</th>
          <th class="px-2 py-1 text-blue-600"><%= sort_link(query, :created_at, "Created") %> </th>
          <th class="px-2 py-1 text-blue-600"><%= sort_link(query, :read, "Read") %> </th>
          <th class="px-2 py-1">Actions</th>
        </tr>
      </thead>

      <tbody class="text-sm font-normal divide-y divide-stone-200">

        <%  @review_notifications.each_with_index do |notification, index| %>
          <%= form_with(model: notification) do |f| %>
            <tr class="text-center">
              <!-- Data Rows -->
              <td class="px-2"><%= index + 1 %></td>
              <td class="px-2">
                <% if notification.review.user&.name %>
                  <%= link_to notification.review.user.name, 
                              user_profile_path(notification.review.user_id), 
                              data: { turbo_frame: "_top" } %>
                <% end %>
              </td>
              <td class="px-2">
                <%= link_to notification.review.user.email, 
                            user_profile_path(notification.review.user_id), 
                            data: { turbo_frame: "_top" } %>
              </td>
              <td class="px-2">
                <%= link_to notification.review.product.title, 
                            product_path(notification.review.product.id), 
                            data: { turbo_frame: "_top" } %>
              </td>
              <td class="px-2 italic">
                <%= link_to truncate(notification.review.body, length: 50), review_path(notification.review.id) %>
              </td>
              <td class="px-2"><%= notification.review.created_at.strftime("%e-%b-%Y:%l:%M:%S %P") %></td>
              <td class="px-2 text-center">
                <%= f.checkbox :read, class: "accent-blue-500" %>
              </td>

              <td class="px-2">
                <div class="flex flex-col justify-center gap-2 sm:flex-row">
                  <%= button_to(review_notification_path(notification)) do %>
                    <span>
                      <%= render_icon("update", classes: "pt-1 mb-1 h-5 w-5 rounded-md stroke-blue-500 cursor-pointer hover:scale-110") %>
                    </span>
                  <% end %>

                  <%= button_to(review_notification_path(notification),
                                method: :delete, 
                                class: "", 
                                data: { turbo_confirm: "Are you sure?" }) do %>
                    <span>
                      <%= render_icon("trashcan", classes: "pt-1 mt-1 mb-1 h-5 w-5 rounded-md cursor-pointer hover:scale-110 hover:stroke-red-700") %>
                    </span>
                  <% end %>

                </div>
              </td>
            </tr>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Mobile stacked view -->
  <div class="space-y-4 md:hidden">

    <% @review_notifications.each_with_index do |notification, index| %>
      <%= form_with(model: notification) do |f| %>
        <div class="p-4 border rounded-md shadow-sm border-stone-300 bg-indigo-50">
          <div class="flex justify-between mb-2 text-sm font-semibold">
            <span>Index:</span>
            <span><%= index + 1 %></span>
          </div>
          <div class="flex justify-between text-sm">
            <span>User:</span>
            <span>                
              <% if notification.review.user&.name %>
                <%= link_to notification.review.user.name, user_profile_path(notification.review.user_id), class: "font-semibold" %>
              <% end %>
              <%= link_to notification.review.user.email, user_profile_path(notification.review.user_id), class: "ml-6" %>
            </span>
          </div>
          <div class="flex justify-between text-sm">
            <span>Product:</span>
            <span><%= link_to notification.review.product.title, product_path(notification.review.product.id) %></span>
          </div>
          <div class="flex justify-between text-sm">
            <span>Review:</span>
            <span class="italic">
              <%= link_to truncate(notification.review.body, length: 50), review_path(notification.review.id) %>
            </span>
          </div>
          <div class="flex justify-between text-sm">
            <span>Created:</span>
            <span><%= notification.review.created_at.strftime("%e-%b-%Y:%l:%M:%S %P") %></span>
          </div>
          <div class="flex justify-between text-sm">
            <span>Read</span>
            <span><%= f.checkbox :read, class: "accent-blue-500" %></span>
          </div>

          <div class="flex flex-row justify-center w-48 gap-2 mx-auto mt-3 border rounded-sm gap-x-6 border-stone-400">
            <%= button_to(review_notification_path(notification)) do %>
              <span>
                <%= render_icon("update", classes: "mt-1 mb-1 h-4 w-4 rounded-md stroke-blue-500 cursor-pointer hover:scale-110") %>
              </span>
            <% end %>

            <%= button_to(review_notification_path(notification),
                          method: :delete, 
                          class: "", 
                          data: { turbo_confirm: "Are you sure?" }) do %>
              <span>
                <%= render_icon("trashcan", classes: "pt-1 mt-1 mb-1 h-5 w-5 rounded-md cursor-pointer hover:scale-110 hover:stroke-red-700") %>
              </span>
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>

</div>