<div id="cart_item_<%= item.id %>" 
     class="contents"
     data-price="<%= item.product.price %>">

  <!-- Item index -->  
  <div class="px-2 text-center font-normal text-sm"><%= index + 1 %></div>

  <!-- Product Title --> 
  <div class="px-4 font-normal text-sm"><%= item.product.title %></div>

  <% if editable %>
    <!-- cart_item delete button --> 
    <div class="flex justify-center">
      <button type="button" 
              class="p-0 bg-transparent border-none"
              data-action="click->cart-bulk#deleteItem"
              data-item-id="<%= item.id %>"
              title="Delete item">
        <%= render "icons/trashcan_icon", classes: "w-4 h-4 text-sm hover:cursor-pointer hover:scale-110" %>
    </div>
  <% else %>
    <div class="px-2 text-center">&nbsp;</div> <!--&nbsp; is a non-breaking space -->
  <% end %>

  <!-- Quantity cell -->
  <% if editable && local_assigns[:f] %>
    <div class="px-3">
      <%= f.number_field :quantity,
                          value: item.quantity,
                          min: 0,
                          class: "w-16 text-center text-sm bg-green-100 border rounded px-1 py-0.5",
                          data: { item_id: item.id, 
                                  cart_bulk_target: "rowQuantity" } %>

    </div>
  <% else %>
    <div class="px-2 text-center font-normal text-sm"><%= item.quantity %></div>
  <% end %>

  <!-- Unit price -->
  <div class="px-2 text-right font-normal text-sm">
    <%= number_to_currency(item.product.price, precision: 2, unit: "$", delimiter: ",") %>
  </div>

  <!-- Purchase (price * qty) -->
  <div class="px-2 text-right font-normal text-sm"
       data-cart-bulk-target="purchaseCell">
    <%= number_to_currency(item.product.price * item.quantity, 
                           precision: 2, 
                           unit: "$", 
                           delimiter: ",") %>
  </div>

</div>