<%# locals: { item: item, index: index, editable: editable, f: item_fields %>
<div id="cart_item_<%= item.id %>" 
     class="contents"
     data-price="<%= item.product.price %>">

  <!-- Item index -->  
  <div class="px-2 text-sm font-normal text-center"><%= index + 1 %></div>

  <!-- Product Title --> 
  <%= link_to item.product.title, 
              product_path(item.product_id), 
              class: "px-4 font-normal text-sm text-blue-600 hover:font-semibold hover:cursor-pointer" %>

  <% if editable && local_assigns[:f] %>
    <!-- cart_item delete button --> 
    <div class="flex justify-center">
      
      <!-- hidden destroy flag per cart_item.  Set via stimulus.  Handled via cart.rb and carts_controller  -->
      <%= f.check_box :_destroy, class: "hidden destroy-flag" %>

      <button type="button" 
              class="p-0 bg-transparent border-none"
              data-action="click->cart-contents#deleteItem"
              data-item-id="<%= item.id %>"
              title="Delete item">
        <%= render_icon("trashcan", classes: "w-4 h-4 text-sm hover:cursor-pointer hover:scale-110") %>
    </div>

    <!-- Quantity cell -->
    <div class="px-3">
      <%= f.number_field :quantity,
                          value: item.quantity,
                          min: 0,
                          class: "w-16 text-center text-sm bg-green-100 border rounded px-1 py-0.5",
                          data: { item_id: item.id, cart_contents_target: "rowQuantity" } %>
    </div>
  <% else %>
    <!--&nbsp; is a non-breaking space to account for trachcan button not being displayed-->
    <div class="px-2 text-center">&nbsp;</div>
    <div class="px-2 text-sm font-normal text-center"><%= item.quantity %></div>
  <% end %>

  <!-- Unit price -->
  <div class="px-2 text-sm font-normal text-right">
    <%= number_to_currency(item.product.price, precision: 2, unit: "$", delimiter: ",") %>
  </div>

  <!-- Purchase (price * qty) -->
  <div class="px-2 text-sm font-normal text-right"
       data-cart-contents-target="purchaseCell">
    <%= number_to_currency(item.product.price * item.quantity, 
                           precision: 2, 
                           unit: "$", 
                           delimiter: ",") %>
  </div>

</div>