<div id="<%= dom_id(item) %>" class="contents">
  <div class="px-2 text-center font-normal"><%= index + 1 %></div>

  <div class="px-4 font-normal"><%= item.product.title %></div>

  <% if editable %>
    <div class="px-2">
      <%= render partial: "carts/form", locals: { item: item } %>
    </div>
  <% else %>
    <div class="px-2 text-center font-normal"><%= item.quantity %></div>
  <% end %>

  <div class="px-2 text-right font-normal">
    <%= number_to_currency(item.product.price, precision: 2, unit: "$", delimiter: ",") %>
  </div>

  <div class="px-2 text-right font-normal">
    <%= number_to_currency(item.product.price * item.quantity, 
                          precision: 2, 
                          unit: "$", 
                          delimiter: ",") %>
  </div>
</div>