<div class="w-full pl-8 md:w-2/3">

  <h1 class="mb-4 text-base font-semibold">
		<em><%= current_user.name.titlecase %></em>:  Edit your cart's contents:
  </h1>

  <%= render "shared/error_msgs", obj: @cart %>

  <%= form_with model: @cart, 
                       url: cart_path, 
                       method: :patch,
                       local: true,
                       data: { controller: "cart-contents", turbo: false } do |f| %>

    <%= render partial: "carts/cart_table", locals: { cart: @cart, cart_items: @cart_items, editable: true, f: f  } %>


    <div class="flex justify-end mt-4 space-x-2 text-right">
      <%= link_to "Cancel", cart_path, 
                            class: "px-3 py-1 border rounded-md bg-gray-100 hover:bg-gray-400 
                                    transition duration-150 ease-in-out text-sm" %>            
      <%= button_tag "Update & Close",
                    type: "submit",
                    class: "px-3 py-1 border rounded-md bg-gray-100 hover:bg-gray-400 
                            transition duration-150 ease-in-out text-sm",
                    data: { action: "click->cart-contents#recalculateBeforeSubmit" } %>
    </div>

  <% end %>

</div>
