<div class="md:w-2/3 w-full">
  <h1 class="font-semibold text-base">
		<%= current_user.name.titlecase %>:  Edit your cart's contents:
  </h1>

  <%= render "shared/error_msgs", obj: @cart%>

  <% if !current_user.cart.nil? && current_user.cart.cart_items.exists? %>
    <div class="grid grid-cols-[auto_1fr_auto_auto] gap-2 font-semibold text-base">
      <!-- Header Row -->
      <div class="px-2 py-2 text-center">Item</div>
      <div class="px-2 py-2">Description</div>
      <div class="px-2 py-2">Quantity</div>
      <div class="px-2 py-2 text-center">Price</div>
      <!-- Data Rows -->
      <% current_user.cart.cart_items.each_with_index do |item, index| %>
        <div class="px-2 py-1 text-center font-normal"><%= index + 1 %></div>
        <div class="px-2 py-1 font-normal"><%= item.product.title %></div>
        <div><%= render "carts/form" %></div>
        <div class="py-1 text-right font-normal">
          <%= number_to_currency(item.product.price, precision: 2, unit: "$", delimiter: ",") %>
        </div>
      <% end %>
    </div>
  <% end %>



</div>
