<div class="md:w-2/3 w-full pl-8">

  <h1 class="font-semibold text-base mb-4">
		<em><%= current_user.name.titlecase %></em>:  Edit your cart's contents:
  </h1>

  <%= render "shared/error_msgs", obj: @cart %>

  <%= form_with model: @cart, 
                       url: cart_path, 
                       method: :patch,
                       local: true,
                       data: { controller: "cart-bulk", turbo: false } do |f| %>

    <%= render partial: "carts/cart_table", locals: { cart: @cart, editable: true, f: f  } %>


    <div class="text-right mt-4 flex justify-end space-x-2">
      <%= link_to "Cancel", cart_path, 
                            class: "px-3 py-1 border rounded-md bg-gray-100 hover:bg-gray-400 
                                    transition duration-150 ease-in-out text-sm" %>            
      <%= button_tag "Update & Close",
                    type: "submit",
                    class: "px-3 py-1 border rounded-md bg-gray-100 hover:bg-gray-400 
                            transition duration-150 ease-in-out text-sm",
                    data: { action: "click->cart-bulk#recalculateBeforeSubmit" } %>
    </div>

  <% end %>

</div>
