<%# Because recursion is used within the partial to display sub-categories, the partial  %>
<%# loops through a local variable.  Otherwise an endless loop results  %>

<%# Tree Structure %>

<% product_categories.each do |category, nested_categories| %>

  <li class="ml-1 mt-1" data-category-id="<%= category.id %>">
    <div class="flex items-center space-x-1">
      <% if nested_categories.present? %>
        <button type="button"
                data-action="click->tree#toggle"
                data-tree-target="toggle"
                aria-expanded="false"
                class="text-sm text-gray-500 hover:text-gray-800 focus:outline-none">
          ▶
        </button>
      <% else %>
        <span class="inline-block w-5"></span> <!-- spacer for alignment (accounting for ▶-->
      <% end %>
      
      
      <!--Product Category context menu -->
      <!--Note: meaning of data-action phrase: -->
      <!--      contextmenu is the DOM event name for the browser's right-click event -->
      <!--       So, we ae telling it to launch hte context-menu controller's contextmeny method-->

      <div data-controller="context-menu"
            data-action="contextmenu->context-menu#contextmenu" 
            class="hover:bg-gray-50 cursor-pointer">

        <%= link_to category.name,
                    product_category_path(category),
                    data: { turbo_frame: "categorytree_productlist_toggle" },
                    class: "text-sm font-normal 
                            cursor-pointer rounded-md hover:bg-blue-200" %>
        <% if current_user.admin? %>
          <%= render partial: "shared/category_context_menu", locals: { record: category } %>
        <% end %>
      </div>
     

      <% if category.children_count > 0 %>
        <span class="text-sm font-light text-gray-600">
          [<%= category.children_count %>]
        </span>
      <% end %>

      <% if category.products.count > 0 %>
        <span class="text-sm font-light text-gray-600">
          {<%= category.products.count %>}
        </span>
      <% end %>
     
    </div>

    <% if nested_categories.present? %>
      <ul data-tree-target="children" 
          class="hidden 
                 ml-4 border-l border-gray-300 pl-1">

        <%= render partial: "product_categories/product_category", 
                   locals: { product_categories: nested_categories } %>
                  
      </ul>
    <% end %>
  </li>
<% end %>



