<h2><%=Rails.application.config.application_name%>:  Order Confirmation</h2>

<h3>
  Thank you for your order #<b><%= @order.id %></b>
  placed with us on: <%= @order.created_at.strftime("%B %d, %Y") %> at: <%= @order.created_at.strftime("%I:%M %P") %>.
</h3>
<div></div>

<div>
  Order Details:
  <table style="width:70%" border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th style="width:5%">Index</th>
        <th style="width:60%">Product</th>
        <th style="width:5%">Quantity</th>
        <th style="width:10%">Unit Price</th>
        <th style="width:20%">Purchase Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @order.lineitems.each_with_index do |item, index| %>
        <tr>
          <td style="text-align:center"><%= index+1 %></td>
          <td style="text-align:left"><%= item.product.title %></td>
          <td style="text-align:center"><%= item.quantity %></td>
          <td style="text-align:center"><%= number_to_currency(item.unit_price, precision: 2, unit: "$", delimiter: ",") %></td>
          <td style="text-align:center"><%= number_to_currency(item.purchase_amount, precision: 2, unit: "$", delimiter: ",") %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4" style="text-align:right"><b>Total Amount:</b></td>
        <td style="text-align:center"><b><%= number_to_currency(@order.total_amount, precision: 2, unit: "$", delimiter: ",") %></b></td>
      </tr>
    </tbody>
 </table>
</div>