<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <%#         Because recursion is used within the partial to display sub-categories, the partial  %>
  <%#         loops through a local variable.  Otherwise an endless loop results  %>
  <% product_categories.each do |category, nested_categories| %>
    <div class="border p-4 rounded-lg shadow hover:shadow-lg transition-shadow duration-200">
      <h3 class="text-xl font-semibold"><%= category.name %></h3>
      <h3 class="text-xl font-semibold"><%= category.description %></h3>
      <p class="text-gray-600">Children: <%= category.children_count %></p>
      <p class="text-gray-600">Products: <%= category.products.count %></p>
      <%= link_to "View Products", product_category_path(category), 
                  class: "text-blue-500 hover:underline" %>
    </div>
    <% if nested_categories.present? %>
      <div>
        <%= render partial: "product_categories/product_category", 
                   locals: { product_categories: nested_categories } %>
      </div>
    <% end %>
  <% end %>
</div>