<div id="products" class="grid max-w-6xl grid-cols-1 py-1 mx-auto mt-2 sm:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-4">
  <% products.each do |product| %>

    <%= link_to product,
                data: { turbo_frame: "categorytree_productlist_toggle" },
                class: "h-90 w-72 overflow-hidden rounded-lg mx-auto border shadow-lg/50" do %>

      <div class="relative h-48 border-b-2">
        <div style="display: block; overflow: hidden; position: absolute; inset: 0px;
                    box-sizing: border-box; margin: 0px;">

          <% if product.primary_image.attached? %>
            <%= image_tag product.primary_image.variant(resize_to_limit: [300, 300]), 
                          style: "object-fit: cover; width: 100%; height: 100%;
                                  object-position: center;", 
                          alt: product.title,
                          class: "transform duration-500 ease-in-out hover:scale-110" %>

          <% else %>

            <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1362px-Placeholder_view_vector.svg.png?20220519031949", class: "transform duration-500 ease-in-out hover:scale-110"  %>

          <% end %>

        </div>
      </div>

      <div class="relative h-36">
        <div class="px-4 pt-4 font-semibold text-black font-primary text-1xl">
          <%= product.title %>
        </div>
        <div class="px-1 pt-1 text-sm font-primary text-grey-600">
          <strong>A sample &#11106;</strong><em><%= truncate(strip_tags(product.description.to_s), length: 100) %></em>
        </div>
        <div class="absolute bottom-0 right-0 pt-2 pb-1 pl-8 pr-4 mb-1 text-base font-medium rounded-tl-sm font-primary">
          <%= number_to_currency(product.price, precision: 2, unit: "$", delimiter: "," ) %>
        </div>
      </div>

    <% end %>
    
  <% end %>
</div>
