<div class="gap-1">

  <h1 class="py-1 text-2xl font-extrabold leading-relaxed place-items-center sm:py-3">
    <%= product.title %>
  </h1>

  <div class="px-1 py-2 ml-20 text-xl font-medium">
    <%= number_to_currency(product.price, precision: 2, unit: "$", delimiter: "," ) %>
  </div>

  <div class="mt-2">
    <%= render partial: "products/show_add_to_cart", locals: { product: product } %>    
  </div>

  <% if product.seller == current_user %>
    <div class="flex flex-col self-center gap-2 px-10 py-4 mt-8 bg-gray-100 shadow-lg">
      <p class="text-slate-700">Seller-only options:</p>
      <%= button_to "Edit this product", edit_product_path(product), method: :get,
                    class: "button button-sm border border-color-black bg-blue-600 text-amber-300 
                            hover:bg-gray-500" %>

      <%= button_to "Delete this product", product_path(product), 
                    method: :delete, 
                    class: "button button-sm border bg-red-500 text-slate-800 hover:bg-yellow-300", 
                    data: { turbo_confirm: "Are you sure?", turbo: false } %>
    </div>
  <% end %>
</div>