<div class="grid grid-cols-2 gap-2 p-2 mt-4">

  <!-- Left column: Buy and Back -->
  <div class="flex flex-col gap-2">
    <%= form_with(model: product, url: buy_product_path(product), method: :post) do |f| %>
      <!-- The turbo false is needed as Stripe api requires the processing of ProductsController#buy as HTML, 
            not turbostream format -->

      <%= f.submit "Buy now", class: "w-full button button-sm bg-indigo-500 text-amber-300",
                              data: { turbo: false } %>

    <% end %>

    <%= link_to(products_path, class: "w-full button button-sm bg-slate-700 text-amber-300 flex justify-center items-center") do %>
      <span>&#8617; Back</span>
    <% end %>

  </div>

  <!-- Right column: Edit and Delete -->
  <% if product.seller == current_user %>
    <div class="flex flex-col gap-2">
      <%= button_to "Edit this product", edit_product_path(product), method: :get,
                    class: "button button-sm border border-color-black bg-blue-600 text-amber-300 w-full" %>


      <%= button_to "Delete this product", product_path(product), 
                    method: :delete, 
                    class: "button button-sm border bg-red-500 text-slate-800 w-full", 
                    data: { turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>

</div>