<% if user_signed_in? %>
  <div class="text-right">
    <%= link_to "Add new product", new_product_path, class: "button button-sm bg-blue-500 text-amber-300" %>
  </div>
<% end %>

<div id="products" class="py-1 max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8">
  <% @products.each do |product| %>
    <%= link_to product, 
                class:"h-100 w-80 overflow-hidden rounded-lg shadow-lg mx-auto border" do %>
      <div class="h-48 border-b-2 relative">
        <div style="display: block; overflow: hidden; position: absolute; inset: 0px; box-sizing: border-box; margin: 0px;">
          <% if product.primary_image.attached? %>
            <%= image_tag product.primary_image.variant(resize_to_limit: [400, 400]), 
                          style: "object-fit: cover; width: 100%; height: 100%;
                                  object-position: center;", 
                          alt: product.title,
                          class: "transform duration-500 ease-in-out hover:scale-110" %>
          <% else %>
            <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1362px-Placeholder_view_vector.svg.png?20220519031949", class: "transform duration-500 ease-in-out hover:scale-110"  %>
          <% end %>
        </div>
      </div>
      <div class="h-48 relative">
        <div class="font-primary text-black text-1xl pt-4 px-4 font-semibold">
          <%= product.title %>
        </div>
        <div class="font-primary text-grey-600 text-base pt-4 px-4">
          <%= product.description.capitalize %>
        </div>
        <div class="font-primary font-medium text-base absolute bottom-0 right-0 mb-1 pl-8 pr-4 pb-1 pt-2 rounded-tl-sm">
          $<span class="text-lg">
            <%= number_with_precision(product.price, precision: 2) %>
           </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
