<%= render partial: "products/product", locals: { product: @product } %>

<div class="grid grid-cols-8 gap-2 items-start">
  <div class="col-start-2 row-start-1">
    <%= form_with(model: @product, url: buy_product_path(@product), method: :post) do |f| %>
      <!-- The turbo false is needed as Stripe api requires the processing of ProductsController#buy as HTML, not turbostream format -->
      <%= f.submit "Buy now", class: "button button-sm bg-indigo-500 text-amber-300",
                    data: { turbo: false } %>  
    <% end %>
  </div>
  <div class="col-start-2 row-start-2">
    <%= link_to(products_path, class: "button button-sm bg-slate-700 text-amber-300") do %>
      <span>&#8617; Back</span>
    <% end %>
  </div>

  <% if @product.seller == current_user %>
    <div class="col-start-3 row-start-1">  
      <%= link_to "Edit this product", edit_product_path(@product), 
                    class: "button button-sm bg-blue-400 text-amber-300 mb-1" %>
    </div>
    <div class="col-start-3 col-span-2 row-start-2">
        <%= button_to "Delete this product", product_path(@product), 
                      method: :delete, 
                      class: "button button-sm bg-red-400 text-slate-700", 
                      data: { turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>

</div>
