<%= turbo_frame_tag dom_id(review) do %>
  <%= form_with(model: review) do |form| %>

    <%= render "shared/error_msgs", obj: review %>

    <div class="w-full m-2">
      <%= form.textarea :body, rows: 4, autofocus: true, 
                        class: "w-full block text-sm
                                shadow-md rounded-md bg-green-50 
                                border border-gray-400 
                                p-2 mt-2" %>
    </div>

    <%= form.hidden_field :product_id %>

    <div class="inline">
      <%= form.submit "Save", 
      class: "sm:w-auto rounded-md mb-2 ml-2 mt-2 px-3 py-1 
              bg-blue-600 text-amber-300
              hover:scale-110 inline-block 
              text-sm cursor-pointer" %>
    </div>
  <% end %>
<% end %>
