<turbo-frame id="review_notifications_list">
  <div class="flex justify-center">
    <div class="w-full max-w-md p-2 overflow-x-auto border rounded-md bg-indigo-50 border-stone-400">
      <div class="pb-1 mb-1 text-base font-semibold border-b border-stone-400">
        Product Review Details
      </div>
      <!-- Define 2 columns: left for labels, right for values -->
      <!-- Because 2 columns have been defined, each div will denote a column's entry -->
      <!-- and teh 3rd, 5th, etc divs denote a new row -->
      <div class="grid grid-cols-[auto_1fr] gap-y-1 text-sm">
        <!-- Row 1 -->
        <div class="px-2 text-right">User: </div>
        <div class="px-2 font-normal">
          <% if @review.user&.name %>
            <%= link_to @review.user.name, user_profile_path(@review.user_id), class: "font-semibold" %>
          <% end %>
            <%= link_to @review.user.email, user_profile_path(@review.user_id), class: "ml-2" %>
        </div>

        <!-- Row 2 -->
        <div class="px-2 text-right">Product:</div>
        <div class="px-2 font-normal">
          <%= link_to @review.product.title, product_path(@review.product.id), class: "text-blue-600" %>
        </div>

        <!-- Row 3 -->
        <div class="px-2 text-right">Date:</div>
        <div class="px-2 font-normal">
          <%= @review.created_at.strftime("%e-%b-%Y:%l:%M:%S %P") %>
        </div>

        <!-- Row 4 -->
        <div class="px-2 text-right">Review:</div>
        <div class="px-2 italic font-normal">
          <%# simple_format is a Rails helper that displays textare content while maintaining line breaks etc. %>
          <%= simple_format(@review.body) %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-2">
    <%= link_to "Back", review_notifications_path, class: "px-2 cursor-pointer border rounded-md bg-indigo-200 hover:scale-110" %> 
  </div>
</turbo-frame>