<div data-controller="dropdown" 
     class="relative inline-block w-full text-left sm:w-auto sm:max-w-xs">
  <% if user_signed_in? %>
    <!-- 1 Dropdown trigger button -->
    <!-- 1.1  Trigger button container -->
    <button type="button" 
            data-action="click->dropdown#toggle"
            class="box-border inline-flex items-center justify-between w-full max-w-full px-4 py-2 text-gray-700 bg-indigo-100 border border-gray-500 rounded-md shadow-sm hover:bg-sky-100 focus:outline-solid">

      <!-- 1.2  User's profile image -->
      <div class="flex-shrink-0 block group">
        <div class="flex items-center text-xs font-normal text-gray-700 group-hover:text-gray-900">
          <%= current_user.name %>
          <div>
            <%= render partial: "shared/user_profileimage", locals: { user: current_user } %>
          </div>
        </div>
      </div>

      <!-- 1.3  Downward pointing arrow -->
      <%= render_icon("dropdownmenu_down_arrow", classes: "w-5 h-5 ml-2 -mr-1") %>

    </button>

    <!-- 2 Dropdown Menu Contents -->
    <!-- 2.1 Dropdown Menu container -->
    <div data-dropdown-target="menu"
         class="absolute left-0 right-0 z-50 hidden px-4 mt-2 transition duration-200 ease-out scale-95 bg-white rounded-md shadow-lg opacity-0 w-28 sm:left-auto sm:right-0 sm:w-40 sm:px-0 ring-1 ring-black ring-opacity-5 justify-items-center">
      <!-- 2.1 Dropdown Menu links -->
      <div class="space-y-2" role="menu">
        <%= link_to "Profile", edit_user_profile_path(current_user), 
                               class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
                               role: "menuitem" %>

        <div class="border-t border-gray-200"></div>

        <%= link_to "My Orders", orders_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
                                              role: "menuitem" %>

        <div class="border-t border-gray-200"></div>
        
        <%= link_to "My Review Notifications", review_notifications_path, 
                     class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
                     role: "menuitem" %>
        
        <div class="border-t border-gray-200"></div>
        <%= link_to "My Product Reviews", reviews_path, 
              class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
              role: "menuitem" %>
        <div class="border-t border-gray-200"></div>
        
        <%= link_to "Sign out", destroy_user_session_path,
                    class: "block px-4 py-2 text-sm text-gray-950 hover:bg-gray-300",
                    data: { turbo_method: :delete } %>
      </div>
    </div>   
  <% end %>
</div>

