<div data-controller="dropdown" 
     class="relative inline-block text-left w-full sm:w-auto sm:max-w-xs">
  <% if user_signed_in? %>
    <!-- 1 Dropdown trigger button -->
    <!-- 1.1  Trigger button container -->
    <button type="button" 
            data-action="click->dropdown#toggle"
            class="inline-flex items-center justify-between 
                   w-full max-w-full px-4 py-2
                   box-border rounded-md border border-gray-500 shadow-sm bg-indigo-100 
                   text-gray-700 hover:bg-sky-100 focus:outline-solid">

      <!-- 1.2  User's profile image -->
      <div class="group block flex-shrink-0">
        <div class="flex items-center text-xs font-normal text-gray-700 group-hover:text-gray-900">
          <%= current_user.name %>
          <div>
            <%= render partial: "shared/user_profileimage", locals: { user: current_user } %>
          </div>
        </div>
      </div>

      <!-- 1.3  Downward pointing arrow -->
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 9l-7 7-7-7" />
      </svg>

    </button>

    <!-- 2 Dropdown Menu -->
    <!-- 2.1 Dropdown Menu container -->
    <div data-dropdown-target="menu"
         class="hidden opacity-0 scale-95 
                transition ease-out duration-200 
                absolute left-0 right-0 mt-2 w-28 
                px-4 sm:left-auto sm:right-0 sm:w-40 sm:px-0
                rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50 
                justify-items-center">
      <!-- 2.1 Dropdown Menu links -->
      <div class="space-y-2" role="menu">
        <%= link_to "Profile", edit_user_profile_path(current_user), 
                               class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
                               role: "menuitem" %>
        <%= link_to "Settings", "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
                                     role: "menuitem" %>
        
        <% if current_user.admin? %>
          <div class="border-t border-gray-200"></div>
          <%= link_to "Product Categories", product_categories_path, 
                      class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", 
                      role: "menuitem" %>
        <% end %>
        <div class="border-t border-gray-200"></div>
        <%= link_to "Sign out", destroy_user_session_path,
                    class: "block px-4 py-2 text-sm text-gray-950 hover:bg-gray-300",
                    data: { turbo_method: :delete } %>
      </div>
    </div>
          
  <% else %>
    <div class="-top-4 -left-0 md:-left-10
                w-24 pb-1
                rounded-md shadow-lg bg-indigo-200 ring-1 ring-black ring-opacity-5 z-10 
                justify-items-center">
      <%= link_to "Sign up", new_user_registration_path, 
                  class: "block px-2 text-sm text-center text-gray-950 
                          hover:bg-emerald-300 hover:rounded-md" %>
      <%= link_to "Sign in", new_user_session_path,
                  class: "block px-2 text-sm text-center text-gray-950 
                          hover:bg-emerald-300 hover:rounded-md" %>
    </div>
  <% end %>
</div>

